@use "../../styles/mixins";

.root {
  --gap: 1rem;
  --top: 0;

  display: grid;
  align-items: start;
  grid-template-columns: auto 1fr;
  gap: 0;

  @include mixins.desktop {
    gap: var(--gap);
  }
}

.stickyEl {
  position: sticky;
  top: var(--top);
  width: 0;
  opacity: 0.1;

  @include mixins.desktop {
    width: auto;
    opacity: 1;
  }
}
