@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(7);
  }
}

.root {
  --loader-size: 0.125rem;
  --loader-duration: 0.45s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  display: flex;
  align-items: center;
}

.dot {
  padding: calc(var(--loader-size) * 7);

  &::after {
    content: "";
    display: block;
    width: var(--loader-size);
    height: var(--loader-size);
    border-radius: 50%;
    background-color: var(--foreground);

    animation-name: pulse;
    animation-duration: var(--loader-duration);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  &:nth-child(2)::after {
    animation-delay: calc(var(--loader-duration) / 3 * 1);
  }

  &:nth-child(3)::after {
    animation-delay: calc(var(--loader-duration) / 3 * 2);
  }
}
