@use "../../styles/mixins";

.root {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background-color: var(--background);
  color: var(--foreground);
}

.content {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  &[data-sticky="true"] {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: hsla(
      var(--background-h),
      var(--background-s),
      var(--background-l),
      0.75
    );
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  display: none;

  svg {
    display: block;
    height: 3rem;
  }

  @include mixins.tablet {
    display: block;
  }
}

.main {
  text-align: center;
}
