@use "../../styles/theme";

:root {
  @include theme.colors;

  --background-h: var(--color-white-h);
  --background-s: var(--color-white-s);
  --background-l: var(--color-white-l);
  --foreground-h: var(--color-black-h);
  --foreground-s: var(--color-black-s);
  --foreground-l: var(--color-black-l);

  --background: hsla(
    var(--background-h),
    var(--background-s),
    var(--background-l),
    var(--background-o, 1)
  );

  --foreground: hsla(
    var(--foreground-h),
    var(--foreground-s),
    var(--foreground-l),
    var(--foreground-o, 1)
  );

  --hover-offset: 15%;

  color-scheme: var(--color-scheme, light);

  &[data-theme-variant="purple"] {
    --background-h: var(--color-pink-h);
    --background-s: var(--color-pink-s);
    --background-l: var(--color-pink-l);
    --foreground-h: var(--color-purple-h);
    --foreground-s: var(--color-purple-s);
    --foreground-l: var(--color-purple-l);
  }
}

@include theme.darkMode {
  --color-scheme: dark;
  --background-h: var(--color-black-h);
  --background-s: var(--color-black-s);
  --background-l: var(--color-black-l);
  --foreground-h: var(--color-white-h);
  --foreground-s: var(--color-white-s);
  --foreground-l: var(--color-white-l);
  --hover-offset: -10%;

  &[data-theme-variant="purple"] {
    --background-h: var(--color-purple-h);
    --background-s: var(--color-purple-s);
    --background-l: var(--color-purple-l);
    --foreground-h: var(--color-pink-h);
    --foreground-s: var(--color-pink-s);
    --foreground-l: var(--color-pink-l);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: var(--background);
  background-color: var(--foreground);
}

@include theme.darkMode {
  *::selection {
    color: var(--color-white);
    background-color: var(--color-orange);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  overflow: auto;
}

body {
  position: relative;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-iosevka), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
