@use "../../styles/mixins";

.root {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  flex-direction: column;

  @include mixins.tablet {
    flex-direction: row;
    align-items: center;
  }
}

.field {
  display: flex;
  gap: 2rem;
  align-items: center;
  text-transform: lowercase;
  font-weight: 600;

  @include mixins.tablet {
    gap: 0.5rem;
  }
}
