.root {
  transition-property: border-color, background-color, color, box-shadow, text-shadow, transform;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  border: 2px solid transparent;
  background-color: transparent;
  line-height: 1;

  --button-color: hsl(var(--color-purple-h), var(--color-purple-s), var(--color-purple-l));
  --button-color-darker-5: hsl(var(--color-purple-h), var(--color-purple-s), calc(var(--color-purple-l) - 5%));
  --button-color-darker-10: hsl(var(--color-purple-h), var(--color-purple-s), calc(var(--color-purple-l) - 10%));
  --button-color-darker-15: hsl(var(--color-purple-h), var(--color-purple-s), calc(var(--color-purple-l) - 15%));
  --button-color-opaque-10: hsla(var(--color-purple-h), var(--color-purple-s), var(--color-purple-l), 10%);
  --button-color-opaque-15: hsla(var(--color-purple-h), var(--color-purple-s), var(--color-purple-l), 15%);

  --button-text: hsl(var(--color-pink-h), var(--color-pink-s), var(--color-pink-l));
  --button-contrast: hsl(var(--color-pink-h), var(--color-pink-s), var(--color-pink-l));
  --button-shadow: hsla(var(--color-purple-h), var(--color-purple-s), var(--color-purple-l), 30%);

  @media (prefers-color-scheme: dark) {
    --button-color: hsl(var(--color-pink-h), var(--color-pink-s), var(--color-pink-l));
    --button-color-darker-5: hsl(var(--color-pink-h), var(--color-pink-s), calc(var(--color-pink-l) - 5%));
    --button-color-darker-10: hsl(var(--color-pink-h), var(--color-pink-s), calc(var(--color-pink-l) - 10%));
    --button-color-darker-15: hsl(var(--color-pink-h), var(--color-pink-s), calc(var(--color-pink-l) - 15%));
    --button-color-opaque-10: hsla(var(--color-pink-h), var(--color-pink-s), var(--color-pink-l), 10%);
    --button-color-opaque-15: hsla(var(--color-pink-h), var(--color-pink-s), var(--color-pink-l), 15%);

    --button-text: hsl(var(--color-purple-h), var(--color-purple-s), var(--color-purple-l));
    --button-contrast: hsl(var(--color-purple-h), var(--color-purple-s), var(--color-purple-l));
    --button-shadow: hsla(var(--color-pink-h), var(--color-pink-s), var(--color-pink-l), 30%);
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &[data-variant="solid"] {
    margin: 0 0 2px;
    border-color: var(--button-color);
    background-color: var(--button-color);
    color: var(--button-text);

    &:not(:disabled) {
      &[data-raised="true"] {
        box-shadow: 0 2px 12px 0 var(--button-shadow);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          border-color: var(--button-color-darker-5);
          background-color: var(--button-color-darker-5);

          &[data-raised="true"] {
            box-shadow: none;
            transform: translate(0, 2px);
          }
        }

        &:active {
          border-color: var(--button-color-darker-10);
          background-color: var(--button-color-darker-10);
        }


      }
    }
  }

  &[data-variant="outlined"] {
    border-color: var(--button-color);
    background-color: var(--button-contrast);
    color: var(--button-color);

    &:not(:disabled) {
      &[data-raised="true"] {
        box-shadow: 0 2px 12px 0 var(--button-shadow);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          border-color: var(--button-color-darker-10);
          color: var(--button-color-darker-10);

          &[data-raised="true"] {
            box-shadow: none;
            transform: translate(0, 2px);
          }
        }

        &:active {
          border-color: var(--button-color-darker-15);
          color: var(--button-color-darker-15);
        }
      }
    }
  }

  &[data-variant="text"] {
    color: var(--button-color);

    &:not(:disabled) {
      &[data-raised="true"] {
        text-shadow: 0 2px 4px var(--button-shadow);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--button-color-opaque-10);
          color: var(--button-color-darker-10);

          &[data-raised="true"] {
            text-shadow: none;
            transform: translate(0, 2px);
          }
        }

        &:active {
          background-color: var(--button-color-opaque-15);
          color: var(--button-color-darker-15);
        }
      }
    }
  }

  &[data-variant="link"] {
    color: var(--button-color);

    &:not(:disabled) {
      &[data-raised="true"] {
        text-shadow: 0 2px 4px var(--button-shadow);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: var(--button-color-darker-10);

          &[data-raised="true"] {
            text-shadow: none;
            transform: translate(0, 2px);
          }
        }

        &:active {
          color: var(--button-color-darker-15);
        }
      }
    }
  }

  &[data-size="small"] {
    padding: 0.375rem 0.875rem;
    border-radius: 1rem;
    font-size: 0.875rem;
  }

  &[data-size="medium"] {
    padding: 0.5rem 1.5rem;
    border-radius: 1.25rem;
    font-size: 1rem;
  }

  &[data-size="large"] {
    padding: 0.75rem 1.75rem;
    border-radius: 1.75rem;
    font-size: 1.125rem;
  }
}
