@use "../../styles/mixins";

.root {
  height: 100%;
  padding-bottom: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mixins.tablet {
    padding-bottom: 7rem;
  }
}
