@mixin colors {
  --color-pink-h: 350;
  --color-pink-s: 19%;
  --color-pink-l: 87%;
  --color-purple-h: 245;
  --color-purple-s: 70%;
  --color-purple-l: 56%;
  --color-black-h: 90;
  --color-black-s: 3%;
  --color-black-l: 15%;
  --color-white-h: 80;
  --color-white-s: 3.45%;
  --color-white-l: 82.94%;
  --color-yellow-h: 44;
  --color-yellow-s: 100%;
  --color-yellow-l: 52%;
  --color-orange-h: 19;
  --color-orange-s: 97%;
  --color-orange-l: 51%;
  --color-green-h: 81.78;
  --color-green-s: 76.59%;
  --color-green-l: 40.2%;
  --color-violet-h: 265;
  --color-violet-s: 83%;
  --color-violet-l: 57%;
  --color-blue-h: 217;
  --color-blue-s: 100%;
  --color-blue-l: 61%;

  --color-pink: hsla(
    var(--color-pink-h),
    var(--color-pink-s),
    var(--color-pink-l),
    var(--color-pink-o, 1)
  );
  --color-purple: hsla(
    var(--color-purple-h),
    var(--color-purple-s),
    var(--color-purple-l),
    var(--color-purple-o, 1)
  );
  --color-black: hsla(
    var(--color-black-h),
    var(--color-black-s),
    var(--color-black-l),
    var(--color-black-o, 1)
  );
  --color-white: hsla(
    var(--color-white-h),
    var(--color-white-s),
    var(--color-white-l),
    var(--color-white-o, 1)
  );
  --color-yellow: hsla(
    var(--color-yellow-h),
    var(--color-yellow-s),
    var(--color-yellow-l),
    var(--color-yellow-o, 1)
  );
  --color-orange: hsla(
    var(--color-orange-h),
    var(--color-orange-s),
    var(--color-orange-l),
    var(--color-orange-o, 1)
  );
  --color-green: hsla(
    var(--color-green-h),
    var(--color-green-s),
    var(--color-green-l),
    var(--color-green-o, 1)
  );
  --color-violet: hsla(
    var(--color-violet-h),
    var(--color-violet-s),
    var(--color-violet-l),
    var(--color-violet-o, 1)
  );
  --color-blue: hsla(
    var(--color-blue-h),
    var(--color-blue-s),
    var(--color-blue-l),
    var(--color-blue-o, 1)
  );
}

@mixin darkMode {
  :root {
    &[data-theme-source="user"] {
      &[data-theme-mode="dark"] {
        @content;
      }
    }

    &[data-theme-source="auto"] {
      @media (prefers-color-scheme: dark) {
        @content;
      }
    }
  }
}
