@use "../../styles/mixins";

.h1 {
  margin: 0 auto 2rem;
  font-weight: 700;
  font-size: 3.5rem;

  @include mixins.tablet {
    font-size: 4rem;
  }

  @include mixins.desktop {
    font-size: 6rem;
  }
}

.h2 {
  margin: 2rem auto;
  font-weight: 700;
  font-size: 3rem;

  @include mixins.desktop {
    font-size: 4rem;
  }
}

.h3 {
  margin: 2rem auto;
  font-weight: 700;
  font-size: 2.5rem;

  @include mixins.desktop {
    font-size: 3rem;
  }
}

.p {
  margin: 1rem auto;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75;

  &[data-size="small"] {
    font-size: 1rem;
  }

  &[data-size="large"] {
    font-size: 1.5rem;
  }
}
