@use "../../styles/mixins";

// $github: #1f2328;
// $linkedin: #0a66c2;
// $npm: #cb3837;

.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  @include mixins.tablet {
    flex-direction: row;
  }

  a {
    padding: 0 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mixins.hover {
      text-decoration: none;

      &::after {
        content: "🡒";
        display: inline-block;
        margin-left: 0.25rem;
        transition: transform 0.2s ease-out;
      }

      &:hover,
      &:focus,
      &:focus-visible {
        &::after {
          transform: translate(0.5rem, 0);
        }
      }
    }
  }
}
