@use "../../styles/mixins";

.root {
  --space: 1.5rem;

  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  @include mixins.tablet {
    justify-content: flex-end;
  }
}

.list {
  gap: var(--space);

  [data-role="slider"] {
    border-bottom: 0.125rem solid var(--foreground);
  }
}

.item {
  position: relative;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1;

  a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;

    @include mixins.tablet {
      padding: 0.875rem 1.75rem;
    }
  }

  &:not(:last-child)::before {
    content: "/";
    position: absolute;
    top: 50%;
    right: calc(var(--space) / 2 * -1);
    transform: translate(50%, -50%);
    opacity: 0.5;
  }
}
