@use "./_styles/mixins";

.root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  > *:nth-child(1) {
    flex: 1 1 auto;
  }

  @include mixins.tablet {
    gap: 2rem;
  }
}
