@use "../../styles/theme";

.root {
  --toggle-ratio: 1.75;
  --toggle-border: 0.25rem;
  --toggle-height: 2rem;
  --toggle-width: calc(var(--toggle-height) * var(--toggle-ratio));

  --toggle-color-control: hsl(var(--color-white-h), var(--color-white-s), 100%);
  --toggle-color-inactive: hsl(var(--color-white-h), var(--color-white-s), 75%);
  --toggle-color-active: var(--foreground);

  position: relative;
  display: inline-block;
  width: var(--toggle-width);
  height: var(--toggle-height);

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:focus,
    &:focus-visible,
    &:focus-within {
      outline: none;
    }
  }
}

@include theme.darkMode {
  .root {
    --toggle-color-inactive: var(--foreground);
    --toggle-color-active: var(--color-orange);
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--toggle-height);
  background-color: var(--toggle-color-inactive);
  transition-property: background-color, box-shadow;
}

.slider::before {
  position: absolute;
  content: "";
  height: calc(var(--toggle-height) - var(--toggle-border) * 2);
  width: calc(var(--toggle-height) - var(--toggle-border) * 2);
  left: var(--toggle-border);
  bottom: var(--toggle-border);
  border-radius: 50%;
  background-color: var(--toggle-color-control);
  transition-property: background-color, box-shadow, transform;
}

.slider,
.slider::before {
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.input:checked + .slider {
  background-color: var(--toggle-color-active);
}

.input:checked + .slider:before {
  transform: translateX(calc(var(--toggle-height) * (var(--toggle-ratio) - 1)));
}

.input:focus + .slider,
.input:focus-visible + .slider {
  outline-width: 0.125rem;
  outline-style: auto;
  outline-color: Highlight;
  outline-color: -webkit-focus-ring-color;
}

.input:focus + .slider {
  outline-offset: 0.25rem;
}

.input:focus:not(:focus-visible) + .slider {
  outline: none;
}
