.root {
  --list-transition-duration: 0.2s;
  --list-transition-timing-function: ease-out;

  --list-active-width: 0;
  --list-active-height: 0;
  --list-active-offset-x: 0;
  --list-active-offset-y: 0;

  position: relative;
  display: inline-grid;
  gap: 1rem;
  grid-auto-flow: column;

  [data-role="slider"] {
    content: "";
    position: absolute;
    top: var(--list-active-offset-y, 0);
    left: var(--list-active-offset-x, 0);
    display: block;
    width: var(--list-active-width, 0);
    height: var(--list-active-height, 0);
    transition-property: top, left;
    transition-duration: var(--list-transition-duration);
    transition-timing-function: var(--list-transition-timing-function);
    pointer-events: none;
  }

  * {
    z-index: 0;
    transition-duration: var(--list-transition-duration);
    transition-timing-function: var(--list-transition-timing-function);
  }
}
