.root {
  --transition-duration: 0.2s;
  --transition-timing-function: ease-out;

  --active-width: 0;
  --active-height: 0;
  --active-offset-x: 0;
  --active-offset-y: 0;

  position: relative;
  display: inline-grid;
  gap: 1rem;
  grid-auto-flow: column;

  [data-role="slider"] {
    content: "";
    position: absolute;
    top: var(--active-offset-y, 0);
    left: var(--active-offset-x, 0);
    display: block;
    width: var(--active-width, 0);
    height: var(--active-height, 0);
    transition-property: top, left;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    pointer-events: none;
  }

  * {
    z-index: 0;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
}
